$lg: 1280px;
$md: 768px;
$sm: 640px;

@mixin content-image() {
  width: 240px;
  height: 240px;
  border: 1px solid grey;

  @media screen and (min-width: $md) {
    width: 300px;
    height: 300px;
  }
}

@mixin page-content() {
  display: flex;
  margin: 0 1rem;

  @media screen and (min-width: $md) {
    margin: 0 8rem;
  }

  @media screen and (min-width: $lg) {
    margin: 0 16rem;
  }
}

@mixin button($py, $px) {
  padding: $py $px;
  background-color: paleturquoise;
  border: none;
  cursor: pointer;
}

.preload {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: box-shadow 0s, color 0s !important;
}

.navigation {
  @include page-content();
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 2rem;
    cursor: pointer;
  }
  &__items {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    &__link {
      animation: link_fade_in 0.25s forwards;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        animation: link_fade_out 0.25s forwards;
      }
    }
  }
}

.content {
  @include page-content();
  flex-direction: column;
  margin-bottom: 2rem !important;
}
