$lg: 1280px;
$md: 768px;
$sm: 640px;

@mixin page-content() {
  display: flex;
  margin: 0 1rem;

  @media screen and (min-width: $md) {
    margin: 0 8rem;
  }

  @media screen and (min-width: $lg) {
    margin: 0 16rem;
  }
}

.content {
  @include page-content();
}
