<div class="home">
  <h1 class="home__title">Welcome to Some App</h1>
  <div class="home__list">
    <app-home-item
      *ngFor="let item of items; let i = index"
      [index]="i"
      [item]="item"
    ></app-home-item>
  </div>
  <hr class="home__delimiter" />
  <div class="home__words">
    <h2>Wow! Such App!</h2>
    <div class="home__words__text">
      <p class="home__words__text__paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Urna id volutpat
        lacus laoreet non curabitur gravida. Eu ultrices vitae auctor eu augue
        ut. Nibh praesent tristique magna sit amet purus gravida quis.
        <b class="home__words__text__paragraph__bold">Scelerisque</b>
        purus semper eget duis at tellus at urna. Pharetra massa massa ultricies
        mi quis hendrerit dolor magna. Sit amet dictum sit amet justo donec enim
        diam vulputate. Turpis massa sed elementum tempus egestas. Fermentum
        iaculis eu non diam phasellus vestibulum lorem sed. A pellentesque sit
        amet porttitor eget dolor. Pellentesque id nibh tortor id aliquet.
        Condimentum id venenatis a condimentum vitae. Id interdum velit laoreet
        id donec ultrices tincidunt arcu non.
      </p>
      <p class="home__words__text__paragraph alter">
        Sed libero enim sed faucibus turpis in eu. Arcu cursus euismod quis
        viverra. Mi bibendum neque egestas congue quisque. Odio tempor orci
        dapibus ultrices in iaculis nunc sed. Quis lectus nulla at volutpat diam
        ut venenatis tellus. Morbi enim nunc faucibus a pellentesque. Vestibulum
        sed arcu
        <b class="home__words__text__paragraph__bold"
          >non odio euismod lacinia</b
        >
        at quis. Faucibus interdum posuere lorem ipsum dolor sit. Ornare quam
        viverra orci sagittis eu volutpat. Imperdiet nulla malesuada
        pellentesque elit eget gravida. Duis tristique sollicitudin nibh sit.
        Ornare arcu dui vivamus arcu felis bibendum ut tristique. Amet porttitor
        eget dolor morbi non arcu risus quis. Viverra vitae congue eu consequat.
        Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere ac.
        Erat
        <b class="home__words__text__paragraph__bold"
          >pellentesque adipiscing commodo elit</b
        >
        at imperdiet dui. Vitae elementum curabitur vitae nunc sed. Tortor at
        auctor urna nunc id cursus. Auctor eu augue ut lectus arcu bibendum.
        Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra.
      </p>
      <p class="home__words__text__paragraph">
        Cursus eget nunc scelerisque viverra mauris in. Massa massa ultricies mi
        quis hendrerit dolor magna eget est. Diam volutpat commodo sed egestas
        egestas fringilla phasellus. Integer malesuada nunc vel risus commodo
        viverra maecenas accumsan. Morbi quis commodo odio aenean sed adipiscing
        diam donec. Gravida arcu ac tortor dignissim convallis aenean. Malesuada
        bibendum arcu vitae elementum. Accumsan<b
          class="home__words__text__paragraph__bold"
        >
          tortor posuere ac ut. Ac tortor dignissim convallis aenean et.
          Neque</b
        >
        aliquam vestibulum morbi blandit cursus risus at. Placerat in egestas
        erat imperdiet sed. Elit duis tristique sollicitudin nibh sit. Tortor
        pretium viverra suspendisse potenti nullam. Donec ac odio tempor orci
        dapibus ultrices in. Nam libero justo laoreet sit.
      </p>
      <p class="home__words__text__paragraph alter">
        Amet mauris commodo quis imperdiet massa. Blandit massa enim nec dui
        nunc mattis enim ut tellus. In eu mi bibendum neque egestas congue
        quisque egestas. Gravida dictum fusce ut placerat orci nulla
        pellentesque dignissim enim. Quam viverra orci sagittis eu volutpat
        odio. Tortor vitae purus faucibus ornare suspendisse sed nisi lacus.
        Morbi tempus iaculis urna id. Pellentesque diam volutpat commodo sed
        egestas egestas fringilla phasellus.
      </p>
    </div>
  </div>
  <hr class="home__delimiter" />
</div>
